<h2>Blog Posts</h2>

<div class="top-actions" *ngIf="isAuthor()">
  <button (click)="goToCreateBlog()">Create New Blog</button>
</div>

<div *ngFor="let blog of blogs" class="blog-item">
  <h3>{{ blog.title }}</h3>
  <p>{{ blog.content }}</p>

  <div class="like-dislike">
    <!-- On hover, show who liked -->
    <button class="like-button"
            (click)="likeBlog(blog)"
            [title]="formatLikesTooltip(blog.likedBy)">
      <span>Like</span> ({{ blog.likedBy?.length || 0 }})
    </button>
  
    <button class="dislike-button"
            (click)="dislikeBlog(blog)"
            [title]="formatDislikesTooltip(blog.dislikedBy)">
      <span>Dislike</span> ({{ blog.dislikedBy?.length || 0 }})
    </button>
  </div>
  

  <!-- If user is an author, show edit & delete -->
  <div class="blog-actions" *ngIf="isAuthor()">
    <button (click)="editBlog(blog.id)">Edit</button>
    <button (click)="deleteBlog(blog.id)">Delete</button>
  </div>

  <!-- Comment Section -->
  <div class="comment-section">
    <h4>Comments</h4>

    <!-- existing comments -->
    <div *ngFor="let c of blog.comments" class="comment">
      <!-- If you stored c.user, we can do c.user.username or c.user?.username -->
      <strong>{{ c.user?.username }}</strong>: {{ c.message }}
    </div>

    <!-- Add new comment form (both READER and AUTHOR can do it) -->
    <div class="add-comment">
      <textarea [(ngModel)]="blog.newComment" placeholder="Add a comment..."></textarea>
      <button (click)="addComment(blog)">Post Comment</button>
    </div>
  </div>
</div>